﻿@{
    ViewData["Title"] = "Admin Page";
}

<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Sign In</p>
       
            <div class="input-group mb-3">
                <input id="username" type="text" class="form-control" name="username" placeholder="Username">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <p class="text-center text-danger">@ViewBag.error</p>
            <div class="row">

                <!-- /.col -->
                <div class="col-12">
                    <button onclick="Login()" class="btn btn-primary btn-block">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        
    </div>
    <!-- /.login-card-body -->
</div>
@section Scripts{ 
<script>
        function Login() {
            let url = "/Admin/login";
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;
            $.ajax({
                url: url,
                type: 'POST',
                data: {user:username,pass:password},
                success: function (data) {
                    if (data.status == 1) {
                        //alert('Login Ok');
                        window.location.reload();
                    }
                    else {
                        Swal.fire({

                            icon: 'error',
                            title: 'Login Failed',
                            showConfirmButton: false,
                            timer: 1000
                        });
                    }
                }
            });
        }
    
</script>
}