﻿<section class="content">
    <!-- Row -->
    <div class="row">
        <div class="col-sm-12">
            <div class=" card card-body">
                <div class=" collapse show">
                    <div class="card-header container-fluid" style="background-color:white!important">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="float-left">
                                    <button onclick="OpenModalForm(0)" id="btnnewrecord" class="btn btn-success btnfontsize mr-2">
                                        <i class="fa fa-plus"></i>
                                        <span> New Record </span>
                                    </button>
                                </div>


                                
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-wrap table-responsive" style="width:100%; margin-top:-15px">
                            <table id="student_datatable" class="table table-hover display">
                                <thead>
                                    <tr>
                                        <th>
                                            Id
                                            <br />

                                        </th>
                                        <th>
                                            NIS
                                            <br />

                                        </th>
                                        <th>
                                            NISN
                                            <br />

                                        </th>
                                        <th>
                                            Nama
                                            <br />

                                        </th>
                                        <th>
                                            J.Kelamin
                                            <br />

                                        </th>
                                        <th>
                                            Kelas
                                            <br />

                                        </th>
                                        <th>
                                            Keterangan
                                            <br />

                                        </th>


                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
    <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 id="txtHeaderModal" class="modal-title w-100 font-weight-bold">Add Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="card">
                        <div class="card-body login-card-body">
                            <input type="hidden" id="studentId" />
                            <div class="form-group mb-3">
                                <label for="nipd">NIS</label>
                                <input id="nipd" type="text" class="form-control text-white-disable" name="nipd" maxlength="10" >
                            </div>
                            <div class="form-group mb-3">
                                <label for="nisn">NISN</label>
                                <input id="nisn" type="text" class="form-control text-white-disable" name="nisn" maxlength="10" >
                            </div>
                            <div class="form-group mb-3">
                                <label for="nama">Nama</label>
                                <input id="nama" type="text" class="form-control text-white-disable" name="nama" maxlength="100" >
                            </div>
                            <div class="form-group mb-3">
                                <label for="gender">Jenis Kelamin</label>
                                <select class="form-control" id="gender">
                                    <option value="L">Laki-laki</option>
                                    <option value="P">Perempuan</option>

                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="nama">Kelas</label>
                                <input id="kelas" type="text" class="form-control text-white-disable" name="kelas" maxlength="12" >
                            </div>
                            <div class="form-group mb-3">
                                <label for="keterangan">Keterangan</label>
                                <select class="form-control" id="keterangan">
                                    <option value="1">LULUS</option>
                                    <option value="0">TIDAK LULUS</option>

                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" onchange="getFileExt(event)" id="fileNilai" lang="in" accept=".pdf,.jpg,.jpeg,.png">
                                    <label id="labelFile" class="custom-file-label" for="fileNilai">Pilih file </label>
                                </div>
                            </div>
                        </div>
                        <!-- /.login-card-body -->
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button id="btnSave" class="btn btn-unique text-primary" onclick="CrudStudent()">Simpan <i class="fa fa-paper-plane-o ml-1"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 id="txtHeaderModalFile" class="modal-title w-100 font-weight-bold">Select Excel File</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="card">
                        <div class="card-body login-card-body">
                            <div class="form-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file" accept=".xlsx, .xls">
                                    <label class="custom-file-label" for="file">Pilih file </label>
                                </div>
                            </div>
                        </div>
                        <!-- /.login-card-body -->
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-unique text-primary">Process <i class="fa fa-paper-plane-o ml-1"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        var extFileNilai='jpg';
        var TableStudent;
        var modeCrud = "Add";
        $(document).ready(function () {

             TableStudent = $("#student_datatable").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/getstudentlist",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],
                "columns": [
                    { "data": "id", "name": "id", "autoWidth": true },
                    { "data": "nipd", "name": "NIPD", "autoWidth": true },
                    { "data": "nisn", "name": "NISN", "autoWidth": true },
                    { "data": "nama", "name": "Nama", "autoWidth": true },
                    { "data": "gender", "name": "J.Kelamin", "autoWidth": true },
                    { "data": "kelas", "name": "Kelas", "autoWidth": true },
                    { "data": "keterangan", "name": "Keterangan", "autoWidth": true },

                    {
                        "render": function (data, type, full, meta) { return '<button class="btn btn-info mr-1" style="font-size:12px!important;" onclick="OpenModalForm(\'' + full.id + '\')">Edit</button><button class="btn btn-danger mr-1" style="font-size:12px!important;" onclick="DeleteStudent(\'' + full.id + '\')">Delete</button>'; },

                    },

                ]

            });
            //LoadTableStudent();
        });
      
        function OpenModalForm(id) {
            $(".modal-body input").val("");
            $("#labelFile").text("Pilih file");
            $('#modalForm').modal('show');
            if (id != '') {
                $('#txtHeaderModal').text("Update Data");
                let url = "/studentupdate";
                $.ajax({
                    url: url,
                    type: 'GET',
                    data: { id: id },
                    success: function (data) {
                        if (data.status == 1) {
                           // console.log(data.data);
                            $('#studentId').val(data.data.id);
                            $('#nipd').val(data.data.nipd);
                            $('#nisn').val(data.data.nisn);
                            $('#kelas').val(data.data.kelas);
                            $('#nama').val(data.data.nama);
                            //console.log(data.data.keterangan);
                            $("#keterangan").val(data.data.keterangan);
                            $("#gender").val(data.data.gender);
                        }
                        else {
                            alert('Login False');
                        }
                    }
                });
            } else {
                $('#txtHeaderModal').text("Add Data");
            }
        }
        function OpenModalFile() {
            $('#modalFile').modal('show');
        }
        
        $('#fileNilai').on('change',function(){
                    //get the file name
                    var fileName = $(this).val();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
            })
        $('#btnExcel').click(function () {
            $('#fileExcel').click();
        });

        
        function UploadFiles(inputId,filename) {
            var input = document.getElementById(inputId);
            var files = input.files;
            var formData = new FormData();

            for (var i = 0; i != files.length; i++) {
                formData.append("files", files[i]);
            }
            formData.append('filenamechange', filename);
            $.ajax(
                {
                    statusCode: {
                        500: function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error !!',
                                showConfirmButton: false,
                                timer: 1000
                            });
                            $('#btnSave').prop('disabled', false);
                        }
                    },
                    url: "/fileuploadernilai",
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (data) {
                        Swal.fire({

                            icon: 'success',
                            title: modeCrud+' data success !!',
                            showConfirmButton: false,
                            timer: 1000
                        });
                        $('#btnSave').prop('disabled', false);
                        $('#modalForm').modal('hide');
                        $(".modal-body input").val("");
                        TableStudent.ajax.reload();
                    }
                }
            );
        }
        function SaveStudent() {
            $('#btnSave').prop('disabled', true);
            let url = "/studentadd";
            let nipdData = document.getElementById("nipd").value;
            let nisnData = document.getElementById("nisn").value;
            let namaData = document.getElementById("nama").value;
            let kelasData = document.getElementById("kelas").value;
            let keteranganData = $("#keterangan option:selected").val();
            let genderData = $("#gender option:selected").val();
            let filepathData = "/uploads/nilai/" + nisnData + "."+extFileNilai;
            
            $.ajax({
                url: url,
                type: 'POST',
                data: { nipd: nipdData, nisn: nisnData,nama:namaData,gender:genderData,kelas:kelasData,keterangan:keteranganData,filepath:filepathData },
                success: function (data) {
                    if (data.status == 1) {
                        if ($('#fileNilai').val() != '') {
                            UploadFiles("fileNilai", nisnData);
                        } else {
                            Swal.fire({

                                icon: 'success',
                                title: 'Add data success !!',
                                showConfirmButton: false,
                                timer: 1000
                            });
                            $('#btnSave').prop('disabled', false);
                            $('#modalForm').modal('hide');
                            $(".modal-body input").val("");
                            TableStudent.ajax.reload();
                            
                        }
                    }
                    else {
                        Swal.fire({

                            icon: 'error',
                            title: 'Add data error !!',
                            showConfirmButton: false,
                            timer: 1000
                        });
                        $('#btnSave').prop('disabled', false);
                    }
                }
            });
        }
       
        function UpdateStudent() {
            $('#btnSave').prop('disabled', true);
            let url = "/studentupdate";
            let idData = document.getElementById("studentId").value;
            let nipdData = document.getElementById("nipd").value;
            let nisnData = document.getElementById("nisn").value;
            let namaData = document.getElementById("nama").value;
            let kelasData = document.getElementById("kelas").value;
            let keteranganData = $("#keterangan option:selected").val();
            let genderData = $("#gender option:selected").val();
            let filepathData = "/uploads/nilai/" + nisnData + "." + extFileNilai;

            $.ajax({
                url: url,
                type: 'POST',
                data: {id:idData, nipd: nipdData, nisn: nisnData, nama: namaData, gender: genderData, kelas: kelasData, keterangan: keteranganData, filepath: filepathData },
                success: function (data) {
                    if (data.status == 1) {
                        if ($('#fileNilai').val() != '') {
                            UploadFiles("fileNilai", nisnData);
                        } else {
                            Swal.fire({

                                icon: 'success',
                                title: 'Update data success !!',
                                showConfirmButton: false,
                                timer: 1000
                            });
                            $('#btnSave').prop('disabled', false);
                            $('#modalForm').modal('hide');
                            $(".modal-body input").val("");
                            TableStudent.ajax.reload();
                        }
                    }
                    else {
                        Swal.fire({

                            icon: 'error',
                            title: 'Update data error !!',
                            showConfirmButton: false,
                            timer: 1000
                        });
                        $('#btnSave').prop('disabled', false);
                    }
                }
            });
        }
        function DeleteStudent(studentId) {
            let url = "/studentdelete";
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: { id: studentId },
                        success: function (data) {
                            if (data.status == 1) {
                                Swal.fire({

                                    icon: 'success',
                                    title: 'Delete data success !!',
                                    showConfirmButton: false,
                                    timer: 1000
                                });
                                TableStudent.ajax.reload();
                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Delete data error !!',
                                    showConfirmButton: false,
                                    timer: 1000
                                });
                            }
                        }
                    });
                }
            })
            
        }
        function CrudStudent() {
            let idData = document.getElementById("studentId").value;
            if (idData == '') {
                modeCrud = "Add";
                SaveStudent();
            } else {
                modeCrud = "Update";
                UpdateStudent();
            }
        }

        //get ext file

        function getFileExt(event) {
            
            if (!event || !event.target || !event.target.files || event.target.files.length === 0) {
                return;
            }
            if (event.target.files[0].size > 2097152) {
                Swal.fire({
                    icon: 'error',
                    title: 'File not exceed 2MB !!',
                    showConfirmButton: false,
                    timer: 1000
                });
                event.target.value = "";
            };
            const name = event.target.files[0].name;
            const lastDot = name.lastIndexOf('.');
            const ext = name.substring(lastDot + 1);
            console.log(ext);
            extFileNilai= ext;

        }
    </script>

}

