﻿@{
    ViewData["Title"] = "Admin Page";
}
@model StudentModel
@{
    var gender = "";
    var keterangan = "";
    gender = Model.Gender == "L" ? "Laki - laki" : "Perempuan";
    keterangan = Model.Keterangan == "1" ? "LULUS" : "TIDAK LULUS";
}
<div class="card">
    <div class="card-body login-card-body">
        
        <div class="form-group mb-3">
            <label for="nipd">NIS</label>
            <input type="text" class="form-control text-white-disable" name="nipd" value="@Model.NIPD" readonly>
        </div>
        <div class="form-group mb-3">
            <label for="nisn">NISN</label>
            <input type="text" class="form-control text-white-disable" name="nisn" value="@Model.NISN" readonly>
        </div>
        <div class="form-group mb-3">
            <label for="nama">Nama</label>
            <input type="text" class="form-control text-white-disable" name="nama" value="@Model.Nama" readonly>
        </div>
        <div class="form-group mb-3">
            <label for="nama">Jenis Kelamin</label>
            <input type="text" class="form-control text-white-disable" name="gender" value="@Model.Gender" readonly>
        </div>
        <div class="form-group mb-3">
            <label for="nama">Kelas</label>
            <input type="text" class="form-control text-white-disable" name="kelas" value="@Model.Kelas" readonly>
        </div>
        <div class="form-group mb-3">
            <label for="nama">Keterangan</label>
            <input type="text" class="form-control text-white-disable" name="keterangan" value="@Model.Keterangan" readonly>
        </div>
        <div class="row">
            <div class="col-12">
                <button onclick="Download('@Model.Filepath')"  class="btn btn-primary btn-block">Download Nilai</button>
            </div>
        </div>
    </div>
    <!-- /.login-card-body -->
</div>

@section Scripts{

    <script>
        function Download(filepathData) {
            let url = "/checkfile";
            $.ajax({
                url: url,
                type: 'POST',
                data: { filename: filepathData },
                success: function (data) {
                    if (data.status == 0) {
                        Swal.fire({
                            icon: 'error',
                            title: 'File Not Found !!',
                            showConfirmButton: false,
                            timer: 1000
                        });
                    }
                    else {
                        window.location = data.message;
                    }
                }
            });
        }
    </script>
}