﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="card">
        <div class="card-body login-card-body">
            <h3 class="login-box-msg text-center">Enter NISN</h3>

            <form asp-controller="student" asp-action="studentsearchview" method="post"  >
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="nisn" placeholder="NISN">

                </div>
                <p class="text-center text-danger">@ViewBag.error</p>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" value="Login" class="btn btn-primary btn-block">Search</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-card-body -->
    </div>